<h2>Manejo un template-driven forms. User</h2>
<br>
<br><hr>
<form #camiloForm="ngForm">
  <div class="group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" appMiloValidator="c" 
      required maxlength="10" pattern #name="ngModel">
  </div>
  <div class="message" [ngClass]="{'show': name.invalid || name.errors?.notIncludesC}">
      Ingrese un nombre valido
    </div>
  <br>
  Spy: {{name.errors | json}}
  <hr>

  <div class="group">
    <label for="lastName">LastName</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" minlength="5">
  </div>
  <hr>

  <div class="group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" autocomplete="off" email required #spy outoco>
  </div>
  Spy: {{spy.className}}
  <br>
  <hr>
  
  <div class="group">
    <label for="citys">city</label>
    <select id="idCity" [(ngModel)]="user.idCity" name="idCity" #spyCity="ngModel" required #spySelect>
      <option *ngFor="let city of citys" [value]="city.id">{{city.name}}</option>
    </select>
    
    <div class="message" [ngClass]="{'show': spyCity.invalid && spyCity.touched}">
      Seleciona una ciudad
    </div>
  </div>
  <hr>
  form value: {{camiloForm.value | json}}<br>
  form valid: {{camiloForm.form.valid | json}}<br>
  form invalid: {{camiloForm.form.invalid | json}}<br>
  form errors: {{camiloForm.form.errors | json}}<br>
  <hr>

  <button *ngIf="camiloForm.form.valid" type="button"  (click)="save(camiloForm); camiloForm.reset()" class="btn btn-success">Submit</button>

